$white: #ffffff;
$background-white: #F7F6F3;
$error-red: #ff5959;
$text-orange: #fbaf03;
$border-black: #79797929;
$shadow-black: #00000029;
$spin-wheel-border-grey: rgba(0, 0, 0, 0.06);
$spin-button-orange: #FFDDA1;
